/*Fonts*/
@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/gilroyextrabold.woff2') format('woff2'),
       url('../fonts/gilroyextrabold.woff') format('woff');
  font-style: normal;
  font-weight: 800;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/gilroylight.woff2') format('woff2'),
       url('../fonts/gilroylight.woff') format('woff');
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/opensans.woff2') format('woff2'),
       url('../fonts/opensans.woff') format('woff');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/opensanslight.woff2') format('woff2'),
       url('../fonts/opensanslight.woff') format('woff');
  font-style: normal;
  font-weight: 300;
}

/*Variables*/
:root{
  --basic-black: #000000;
  --basic-black-transparent: rgba(0, 0, 0, 0.3);
  --basic-dark: #363636;
  --basic-gray: #464646;
  --basic-half-gray: #7e7e7e;
  --basic-gray-light: #e5e5e5;
  --basic-white: #ffffff;
  --basic-white-transparent: rgba(255, 255, 255, 0.3);
  --basic-transparent: transparent;

  --special-yellow-dark: #f0c52e;
  --special-yellow: #f7e296;
  --special-green: #91c92f;
  --special-pink: #f6dada;

  --filter-gray-light: #dcdcdc;
  --filter-gray: #a6a6a6;

  --pagination-gray: #ebebeb;
  --pagination-gray-dark: #d9d9d9;

  --shadow-black-transparent: rgba(0, 0, 0, 0.15);

  --feedback-gray: #f2f2f2;
  --feedback-gray-dark: #eaeaea;
  --feedback-black-transparent: rgba(0, 0, 0, 0.4);

}

/*Global*/
body {
  font-family: 'OpenSans', Arial, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 28px;
  color: var(--basic-black);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*Visually-hidden*/
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  overflow: hidden;
}

/*Grid*/
.page {
  height: 100%;
}

.page-body {
  min-height: 100%;

  display: grid;
  grid-template-rows: min-content 1fr min-content;
}

/*Container*/
.container {
  width: 1160px;

  padding: 0 40px;
  margin: 0 auto;
}

.container-flex {
  display: flex;
  justify-content: space-between;
}

/*Clearfix*/
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

/*Headline*/
.headline {
  font-family: 'Gilroy';
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
}

.section-caption,
.service-caption {
  letter-spacing: 0.2em;
}

/*Button*/
.button {
  padding: 0;
  padding-top: 9px;
  padding-bottom: 9px;

  display: block;

  font-family: Gilroy;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-align: center;
  color: var(--basic-black);

  background-color: var(--basic-transparent);
  background-image: linear-gradient(var(--basic-transparent) 16px, var(--special-yellow-dark) 16px, var(--special-yellow-dark) 24px, var(--basic-transparent) 24px);
  border: none;
}

.button:hover,
.button:focus {
  background-color: var(--special-yellow-dark);
  background-image: none;
}

.button:active {
  color: var(--basic-black-transparent);

  background-color: var(--special-yellow-dark);
  background-image: none;
}

.button-light {
  background-image: linear-gradient(var(--basic-transparent) 16px, var(--special-yellow) 16px, var(--special-yellow) 24px, var(--basic-transparent) 24px);
}

.button-light:hover,
.button-light:focus {
  background-color: var(--special-yellow);
}

.button-light:active {
  background-color: var(--special-yellow);
}

.button-tab:active {
  color: var(--special-yellow);

  background-color: var(--basic-black);
  background-image: none;
}

/*Header*/
.main-navigation {
  padding: 0 60px;

  line-height: 20px;

  background-image: linear-gradient(var(--basic-white) 39px, var(--special-yellow) 39px);

  border-top: 1px solid var(--basic-white);
  border-bottom: 1px solid var(--special-yellow);
}

.main-navigation .logo {
  margin-top: 19px;
  margin-bottom: 14px;

  display: block;
}

.search-form {
  height: 33px;
  width: 440px;

  margin-right: 96px;
  padding-top: 15px;

  display: inline-block;

  position: relative;

  border-bottom: 2px solid var(--special-yellow);
}

.search-form:focus-within {
  border-bottom: 2px solid var(--basic-black);
}

.search-form::before {
  content: '';

  width: 20px;
  height: 20px;

  display: block;

  position: absolute;
  left: 0;
  top: 17px;

  background-image: url(../img/search.svg);
  background-repeat: no-repeat;
}

.search-form input {
  height: 20px;

  padding-left: 40px;

  background-color: var(--special-yellow);

  border: none;
}

.search-input-text::placeholder {
  color: var(--basic-black);

  opacity: 0.3;
}

.search-input-text:hover::placeholder {
  opacity: 0.6;
}

.search-input-text:focus::placeholder {
  opacity: 1;
}

.search-form button {
  height: 46px;
  width: 80px;

  display: none;

  position: absolute;
  bottom: -2px;
  right: 0;

  text-transform: uppercase;

  background-color: var(--special-yellow);

  border: 2px solid var(--basic-black);
}

.search-form:focus-within button {
  display: block;
}

.search-form button:hover,
.search-form button:focus {
  color: var(--basic-white);

  background-color: var(--basic-black);
}

.search-form button:active {
  color: var(--basic-white-transparent);

  background-color: var(--basic-black);
}

.main-navigation ul {
  list-style: none;
}

.main-navigation a[href] {
  color: var(--basic-black);
}

.main-navigation a[href]:hover,
.main-navigation a[href]:focus {
  opacity: 0.6;
}

.main-navigation a[href]:active {
  opacity: 0.3;
}

.user-navigation {
  width: 500px;

  margin: 0;
  padding: 0;

  display: inline-flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.user-navigation li {
  margin-left: 40px;
}

.user-navigation .authorization-item {
  margin-right: auto;
  margin-left: 0;
}

.authorization-item a::before {
  content: url(../img/user.svg);
  margin-right: 13px;
}

.compare-item a::before {
  content: url(../img/compare.svg);
  margin-right: 15px;
}

.shoppingcart-item a::before {
  content: url(../img/cart.svg);
  margin-right: 12px;
}

.user-navigation button {
  font-family: 'OpenSans', Arial, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  color: var(--basic-black);

  border: none;
  background-color: var(--special-yellow);

  opacity: 0.3;
}

.user-navigation button:hover,
.user-navigation button:focus {
  opacity: 0.6;
}

.user-navigation button:active {
  opacity: 0.1;
}

.site-navigation {
  margin: 0;
  padding: 0;
  margin-top: 35px;
  margin-bottom: 18px;

  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.site-navigation > li {
  margin-left: 38px;
}

.site-navigation > li:last-child {
  margin-left: 100px;
}

.site-navigation .catalog-item {
  margin-right: auto;
  margin-left: 0;

  position: relative;
}

.catalog-item::after {
  content: url(../img/plus.svg);

  margin-left: 12px;

  opacity: 0.3;

  vertical-align: middle;
}

.site-navigation-item > a {
  font-family: 'Gilroy';
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.sub-site-navigation {
  display: none;
}

.catalog-item:hover .sub-site-navigation,
.catalog-item:focus-within .sub-site-navigation {
  height: 108px;
  width: 1040px;

  margin: 0;
  padding: 29px 60px;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;

  position: absolute;
  left: -60px;
  top: auto;
  z-index: 2;

  background-color: var(--special-yellow);
}

.sub-site-navigation li {
  margin-bottom: 16px;
  margin-right: 61px;
}

.sub-site-navigation li:last-child {
  margin-right: 0;
}

.sub-site-navigation li:nth-child(3n):last-child {
  margin-bottom: 17px;
}

/*Promo-slider*/
.promo-slider {
  padding: 0 40px;

  position: relative;
}

.promo-slider ul {
  margin: 0;
  padding: 0;
  padding-bottom: 76px;

  list-style: none;
}

.slider {
  background-image: linear-gradient(var(--special-yellow) 147px, var(--basic-white) 147px);
}

.slide {
  display: none;
}

.active-slide {
  display: flex;
  justify-content: space-between;
}

.slide-column {
  width: 560px;
  box-sizing: border-box;
}

.slide-column:nth-child(2) {
  padding-right: 60px;
}

.slide img {
  position: relative;
}

.slide:nth-child(1) img {
  top: 17px;
  left: 89px;
}

.slide:nth-child(2) img {
  top: 43px;
  left: 116px;
}

.slide:nth-child(3) img {
  top: 99px;
  left: 30px;
}

.slide .headline {
  margin-top: 110px;
  margin-bottom: 30px;

  position: relative;
}

.slide .headline::before {
  content: '';

  width: 100px;
  height: 7px;

  display: block;

  position: absolute;
  top: -52px;

  background-color: var(--basic-white);
}

.slide-text {
  margin: 0;

  line-height: 20px;
}

.slide .button {
  width: 220px;

  margin: 60px 0;
}

.slide table {
  border-collapse: collapse;

  font-family: Gilroy;
  font-weight: 300;
  letter-spacing: 0.1em;
}

.slide td {
  padding-right: 65px;
}

.slide td:last-child {
  padding-right: 0;
}

.slide-table-value {
  padding-bottom: 15px;

  font-size: 36px;
  line-height: 42px;
}

.slide-table-description {
  font-size: 13px;
  line-height: 15px;
}

.slider-controls {
  width: 72px;
  height: 12px;

  display: flex;
  justify-content: space-between;

  position: absolute;
  bottom: 137px;
  right: 111px;
}

.slider-controls button {
  width: 12px;
  height: 12px;

  padding: 0;

  display: block;

  position: relative;

  background-color: var(--basic-white);

  border: 1px solid var(--basic-black);
  border-radius: 50%;
}

.active-control::before {
  content: '';
  width: 4px;
  height: 4px;

  display: block;

  position: absolute;
  top: 2px;
  left: 2px;

  background-color: var(--basic-white);

  border: 1px solid var(--basic-black);
  border-radius: 50%;
}

/*Product-categories*/
.product-categories {
  margin-top: 36px;
  margin-bottom: 49px;
}

.product-categories ul {
  padding: 0;
  margin: 0;

  display: flex;
  justify-content: space-between;

  font-family: Gilroy;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;

  list-style: none;
}

.product-categories li {
  width: 160px;

  padding: 20px 0;

  position: relative;
}

.product-category .category-image {
  height: 160px;
  width: 160px;

  margin-bottom: 38px;

  display: block;

  text-align: center;

  background-color: var(--special-yellow);
}

.product-category:hover .category-image,
.product-category:focus .category-image,
.product-category:active .category-image {
  background-color: var(--special-yellow-dark);
}

.virtualreality svg {
  margin-top: 52px;
}

.selfiemonopods svg {
  margin-top: 26px;
}

.actioncameras svg {
  margin-top: 36px;
}

.fitnesstrackers svg {
  margin-top: 46px;
}

.smartwatches svg {
  margin-top: 31px;
}

.quadcopters svg {
  margin-top: 46px;
}

.product-categories a {
  color: var(--basic-black);
}

.product-category:active,
.product-category:active path {
  opacity: 0.3;
}

.fitnesstrackers {
  letter-spacing: 0;
}

/*Services*/
.services {
  background-image: linear-gradient(var(--basic-white) 115px, var(--basic-gray-light) 115px);
}

.services .container {
  padding-top: 15px;
  padding-bottom: 68px;

  display: flex;
  justify-content: space-between;
}

.services ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

.services .services-tabs {
  width: 277px;

  padding: 80px 0;
  padding-left: 40px;

  display: flex;
  flex-direction: column;

  border-right: 7px solid var(--basic-black);
}

.services-tabs li {
  margin-bottom: 21px;
}

.services-tabs li::last-child {
  margin-bottom: 0;
}

.services-tabs .button {
  width: 160px;
  box-sizing: content-box;
}

.active-tab .button:disabled {
  padding-right: 117px;

  color: var(--special-yellow);

  background-color: var(--basic-black);
  background-image: none;
}

.services-descriptions {
  width: 758px;
}

.services-descriptions li {
  display: none;

  position: relative;
}

.services-descriptions .active-service {
  display: block;
}

.delivery::before {
  content: url(../img/delivery.svg);

  position: absolute;
  top: 0;
  right: 0;
}

.warranty::before {
  content: url(../img/warranty.svg);

  position: absolute;
  top: 0;
  right: 0;
}

.credit::before {
  content: url(../img/credit.svg);

  position: absolute;
  top: 0;
  right: 0;
}

.service-caption {
  margin-top: 71px;
  margin-bottom: 40px;
}

.services p {
  width: 575px;

  margin: 0;
  margin-bottom: 49px;

  letter-spacing: 0.1em;
}

/*Partners*/
.partners ul {
  margin: 90px 0;
  padding: 0;

  display: flex;
  flex-wrap: flex;

  list-style: none;
}

.partners li {
  width: 300px;
}

.partners li:nth-child(4n + 1),
.partners li:nth-child(4n) {
  width: 280px;
}

.partner:nth-child(1) a::before {
  content: url(../img/colorlogo-dji.png);

  display: none;

  position: absolute;
}

.partner:nth-child(2) a::before {
  content: url(../img/colorlogo-spgadgets.png);

  display: none;

  position: absolute;
}

.partner:nth-child(3) a::before {
  content: url(../img/colorlogo-gopro.png);

  display: none;

  position: absolute;
}

.partner:nth-child(4) a::before {
  content: url(../img/colorlogo-vive.png);

  display: none;

  position: absolute;
}

.partner a:hover::before {
  display: block;
}

/*Info&Contacts*/
.info,
.contacts {
  width: 560px;
  box-sizing: border-box;

  padding-bottom: 117px;

  position: relative;
}

.info::before,
.contacts::before {
  content: '';

  width: 80px;
  height: 7px;

  display: block;

  background-color: var(--basic-black);
}

.info h2,
.contacts h2 {
  margin: 50px 0;
}

.info p,
.contacts p {
  margin: 0;
  margin-bottom: 40px;
}

.info .info-list-caption {
  margin-bottom: 60px;
}

.info-list {
  margin: 0;
  margin-bottom: 75px;
  padding: 0;

  font-family: 'Gilroy';
  font-weight: 800;
  font-size: 16px;

  list-style: none;
}

.info-list li {
  margin-bottom: 20px;
  padding-left: 32px;

  position: relative;
}

.info-list li:last-child {
  margin-bottom: 20px;
}

.info-list li::before {
  content: '';

  width: 4px;
  height: 4px;

  display: block;

  position: absolute;
  top: 10px;
  left: 0;

  border: 2px solid var(--basic-gray-light);
  border-radius: 50%;
}

.info .button,
.contacts .button {
  width: 260px;

  position: absolute;
  bottom: 77px;
}

/*Breadcrumbs*/
.breadcrumbs {
  list-style: none;
}

.breadcrumbs a {
  font-size: 14px;
  line-height: 19px;
  color: var(--basic-black);
  opacity: 0.3;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  opacity: 0.6;
}

.breadcrumbs a:active {
  opacity: 0.1;
}

/*Catalog-grid*/
.catalog-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

/*Filters*/
.filters {
  overflow: hidden;
}

.filters-caption-container {
  background-color: var(--filter-gray-light);
}

.filters-form-container {
  height: 100%;

  background-color: var(--basic-gray-light);
}

.filters h2 {
  float: right;

  font-family: Gilroy;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.filters-form {
  float: right;
}

.filters-form ul {
  list-style: none;
}

.filters-form fieldset {
  border: none;
}

.filters-form legend {
  font-family: Gilroy;
  font-weight: 800;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.1em;
}

.filter-input-checkbox + label,
.filter-input-radio + label {
  font-size: 14px;
  line-height: 19px;
}

.filter-input-checkbox:disabled + label,
.filter-input-radio:disabled + label {
  color: var(--filter-gray);
}

/*Sort*/
.sort-container {
  background-color: var(--basic-gray-light);
}

.sort {
  width: 760px;
}

.sort p {
  font-family: Gilroy;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.sort-types a {
  font-size: 14px;
  line-height: 19px;
  font-weight: normal;
  color: var(--basic-black);

  opacity: 0.3;
}

.sort-types a[href]:hover,
.sort-types a[href]:focus {
  opacity: 0.6;
}

.sort-types a[href]:active,
.sort-types .active-sort-type {
  opacity: 1;
}

/*Products*/
.products ul {
  list-style: none;
}

.products-list {
  width: 760px;

  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}

.product-name-link {
  font-family: Gilroy;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
  color: var(--basic-black);
}

.product-name-link:hover h3,
.product-name-link:focus h3 {
  opacity: 0.6;
}

.product-name-link:active h3 {
  opacity: 0.3;
}

.product-price {
  font-family: Gilroy;
  font-weight: 300;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.05em;
}

.compare-button {
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.1em;
  color: var(--basic-black);

  opacity: 0.5;

  background-color: var(--basic-white);
  border: none;
}

.compare-button:hover,
.compare-button:focus {
  opacity: 1;
}

.compare-button:active {
  opacity: 0.2;
}

/*Pagination*/
.pagination {
  width: 760px;

  font-family: Gilroy;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.pagination ul {
  list-style: none;

  background-color: var(--pagination-gray);
}

.pagination .page-number {
  color: var(--basic-black);

  opacity: 0.3;
}

.pagination .page-number[href]:hover,
.pagination .page-number[href]:focus {
  opacity: 0.6;
}

.pagination .page-number[href]:active,
.pagination .active-page {
  opacity: 1;
}

.pagination .pagination-direction {
  color: var(--basic-black);
  background-color: var(--pagination-gray);
}

.pagination .pagination-direction:hover,
.pagination .pagination-direction:focus {
  background-color: var(--pagination-gray-dark);
}

.pagination .pagination-direction:active {
  color: var(--basic-black-transparent);
}

/*Footer*/
.page-footer {
  line-height: 20px;
  color: var(--basic-white);

  background-color: var(--basic-dark);
}

.page-footer .container {
  padding-top: 46px;
  padding-bottom: 69px;

  display: grid;
  grid-template-columns: 250px 1fr 250px;
}

.page-footer .container::before {
  content: '';

  width: 80px;
  height: 7px;

  margin-top: 15px;

  display: block;

  grid-row: 4/5;

  background-color: var(--special-yellow-dark);
}

.page-footer ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

.page-footer a {
  color: var(--basic-white);
}

.footer-user-navigation {
  padding-left: 250px;

  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;

  grid-column: 1/-1;
}

.footer-user-navigation li {
  margin-left: 35px;
}

.footer-user-navigation:last-child {
  margin-left: 0;
}

.footer-user-navigation-link span {
  opacity: 0.7;
}

.footer-user-navigation-link:hover span,
.footer-user-navigation-link:focus span,
.footer-user-navigation button:hover,
.footer-user-navigation button:focus {
  opacity: 1;
}

.footer-user-navigation-link:active span,
.footer-user-navigation button:active {
  opacity: 0.3;
}

.footer-user-navigation button {
  font-family: 'OpenSans', Arial, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  color: var(--basic-white);

  border: none;
  background-color: var(--basic-transparent);

  opacity: 0.7;
}

.footer-authorization-item a::before {
  content: url(../img/coloruser.svg);
  margin-right: 13px;
}

.footer-authorization-item.inner-page a::before {
  content: url(../img/innercoloruser.svg);
}

.footer-compare-item a::before {
  content: url(../img/colorcompare.svg);
  margin-right: 15px;
}

.footer-shoppingcart-item a::before {
  content: url(../img/colorcart.svg);
  margin-right: 12px;
}

.footer-user-navigation-link:hover::before,
.footer-user-navigation-link:focus::before {
  opacity: 0.6;
}

.footer-user-navigation-link:active::before {
  opacity: 0.3;
}

.page-footer .logo {
  width: 163px;

  margin-bottom: 40px;

  grid-column: 1/-1;
}

.page-footer p {
  margin: 0;
}

.page-footer .footer-site-navigation {
  padding: 0 50px;
  margin-bottom: 66px;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  font-family: 'Gilroy';
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.footer-site-navigation li {
  margin-right: 36px;
}

.footer-site-navigation li:last-child {
  margin-right: 0;
}

.telephone {
  text-align: right;
}

.page-footer .logo:hover,
.page-footer .logo:focus,
.footer-site-navigation a:hover,
.footer-site-navigation a:focus,
.telephone:hover,
.telephone:focus,
.developer:hover,
.developer:focus {
  opacity: 0.6;
}

.page-footer .logo:active,
.footer-site-navigation a:active,
.telephone:active,
.developer:active {
  opacity: 0.3;
}

.social {
  padding: 0 50px;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  grid-column: 2/3;
}

.social li {
  margin-right: 20px;
}

.social li:last-child {
  margin-right: 0;
}

.social-button {
  opacity: 0.3;
}

.social-button:hover,
.social-button:focus {
  opacity: 0.6;
}

.social-button:active {
  opacity: 0.1;
}

.social-facebook::before {
  content: url(../img/facebook.svg);
}

.social-instagram::before {
  content: url(../img/instagram.svg);
}

.social-twitter::before {
  content: url(../img/twitter.svg);
}

.developer {
  text-align: right;
}

.developer::before {
  content: url(../img/logo-html.svg);
}

/*Feedback*/
.feedback {
  width: 760px;

  margin: 0 auto;
  padding-top: 92px;
  padding-right: 100px;
  padding-bottom: 60px;
  padding-left: 100px;

  display: none;

  position: fixed;
  left: 0;
  right: 0;
  bottom: 300px;
  z-index: 2;

  box-shadow: 0px 10px 16px var(--shadow-black-transparent);

  background-color: var(--basic-white);
}

.feedback-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 32px;
  column-gap: 40px;

  position: relative;
}

.feedback-form p {
  margin: 0;
}

.feedback-form p:nth-child(3) {
  grid-column: 1/-1;
}

.feedback-form label {
  margin-bottom: 10px;

  display: block;

  font-family: Gilroy;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
}

.feedback-form input {
  height: 50px;
}

.feedback-form textarea {
  height: 167px;
}

.feedback-form input,
.feedback-form textarea {
  width: 100%;
  box-sizing: border-box;

  padding: 15px 20px;

  background-color: var(--feedback-gray);

  border: none;
  outline: none;
}

.feedback-form input::placeholder,
.feedback-form textarea::placeholder {
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;

  color: var(--feedback-black-transparent);
}

.feedback-form input:hover,
.feedback-form textarea:hover {
  background-color: var(--feedback-gray-dark);
}

.feedback-form input:focus,
.feedback-form textarea:focus {
  padding: 13px 18px;

  color: var(--basic-dark);

  background-color: var(--basic-white);

  border: 2px solid var(--special-yellow);
}

.feedback-form input:invalid,
.feedback-form textarea:invalid {
  background-color: var(--special-pink);
}

.feedback-form .button {
  width: 200px;
}

.feedback .button-close {
  top: 20px;
  right: 20px;
}

/*Map-modal*/
.map-modal {
  width: 994px;

  margin: 0 auto;

  display: none;

  position: fixed;
  left: 0;
  right: 0;
  bottom: 265px;
  z-index: 2;
}

.map-modal .button-close {
  top: 29px;
  right: 36px;
}

.map-modal iframe {
  position: absolute;
  top: 7px;
  left: 17px;

  border: none;
}

/*Modal*/
.open-modal {
  display: block;
  animation: floating 0.6s;
}

.error-modal {
  animation: shake 0.6s;
}

.button-close {
  width: 55px;
  height: 55px;

  position: absolute;
  opacity: 0.5;

  background-color: var(--special-yellow-dark);
  border-radius: 50%;
  border: none;
}

.button-close::before {
  content: url(../img/cross.svg);

  opacity: 0.7;

  position: relative;
  top: 1px;
  left: 1px;
}

.button-close:hover,
.button-close:focus {
  opacity: 1;
}

.button-close:active {
  opacity: 0.3;
}

/*Animation*/
@keyframes floating {
  0% {
    transform: scaleY(0.2);
  }

  20% {
    transform: scaleY(0.2);
  }

  100% {
    transform: scaleY(1);
  }
}

@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }

  20%, 60% {
    transform: translateX(10px);
  }

  40%, 80% {
    transform: translateX(-10px);
  }
}